*,
*:before,
*:after{-webkit-box-shadow:none !important;background:transparent !important;box-shadow:none !important;color:#000 !important;text-shadow:none !important;}a,
a:visited{text-decoration:underline;}a[href]:after{content:" (" attr(href) ")";}abbr[title]:after{content:" (" attr(title) ")";}a[href^="#"]:after,
a[href^="javascript:"]:after{content:"";}pre,
blockquote{border:1px solid #999;page-break-inside:avoid;}thead{display:table-header-group;}tr,
img{page-break-inside:avoid;}img{max-width:100% !important;}p,
h2,
h3{orphans:3;widows:3;}h2,
h3{page-break-after:avoid;}table{border-collapse:collapse !important;}table td,
table th{background-color:#fff !important;}.table-bordered th,
.table-bordered td{border:1px solid #ddd !important;}body{background:none !important;font-size:12pt;}#masthead{position:static;}#masthead .site-branding{max-width:100%;}#primary-header .entry-title{font-size:22pt;}#primary-header,
#primary-header .primary-hentry-inner{display:block;height:auto;}#primary-header .primary-hentry-inner{padding:0;}#toggle-sidebar,
#secondary,
#site-navigation,
#comments,
#colophon,
.sharedaddy,
.jp-relatedposts,
.post-navigation,
.entry-footer,
.author-container,
#sidebar-button,
.mejs-container,
.wp-playlist,
#primary-header .entry-meta,
#masthead .header-links .header-search{display:none;}